

{% load static %}
<img style="display: inline-block;vertical-align:middle;" src="{% static "findxss/ING_logo.jpg" %}" height="75" width="150" alt="My image"/> 
<h1 style="display: inline-block;">Intranet -- Welcome P. Jacobs</h1>
<h2>This one is trickier :)</h2>


<p style="color:{{ colour_param }}">enter a color number to change the color of the text, e.g: #ff00ff</p>
<form method="GET" action="">
	<input type="text" name="colour" id="colour" value="{{ colour_param }}">
	<input type="submit" value="change">
</form>